<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      .failed{
        color:red;
      }
    </style>
</head>
<body>
  <form action="#" th:action="@{/authenticateTheUser}" method="POST">
    <div th:if="${param.error}">
      <i class="failed">Sorry! You entered invalid username/password.</i>
    </div>
    <p>
      Tên người dùng: <input type="text" name="username" />
    </p>
    <p>
      Mật khẩu: <input type="password" name="password" />
    </p>
    <input type="submit" value="Login" />
  </form>
</body>
</html>